@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,500;0,700;1,500&display=swap");
html {
  box-sizing: border-box;
  overflow-x: hidden !important;
  margin-top: 0 !important;
}

body {
  background-color: #F6F2E7;
  background-image: url(../img/background_pattern.jpg);
  font-family: 'EB Garamond', serif;
  overflow-x: hidden !important;
}

button:focus,
a:focus,
.slick-slide:focus {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
}

.right-sidebar .content-area {
  width: 100%;
}

.titulo-principal {
  text-align: center;
  color: #0D0E05;
  font-size: 3rem;
  line-height: 1;
}

.titulo-principal span {
  position: relative;
  left: 4.8rem;
}

section {
  margin: 1.5rem 0;
  padding: 2rem 0;
}

.site-header ul.menu li.current-menu-item > a {
  color: #FEFEFE;
  border-bottom: 1px solid #FEFEFE;
}

@media screen and (min-width: 768px) {
  .overflow {
    overflow-x: visible;
  }
  .titulo-principal {
    font-size: 3.2rem;
    margin-bottom: 3rem;
  }
  .texto-trasero {
    font-size: 9.5rem;
  }
}

@media screen and (min-width: 1100px) {
  .titulo-principal {
    font-size: 6rem;
  }
  .texto-trasero {
    font-size: 19rem;
  }
}

.woocommerce-active .site-header .site-search,
.woocommerce-active .site-header .site-header-cart,
.right-sidebar .widget-area,
.storefront-breadcrumb,
.inner-section-banner h1,
.woocommerce-products-header,
.storefront-product-pagination a[rel=prev],
.storefront-product-pagination a[rel=next] {
  display: none !important;
}

.archive .site-main,
.product-template-default .site-main {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 579px) {
  .product-template-default .site-main,
  .archive .site-main {
    max-width: 540px;
  }
}

@media screen and (min-width: 768px) {
  .product-template-default .site-main,
  .archive .site-main {
    max-width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .product-template-default .site-main,
  .archive .site-main {
    max-width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  .product-template-default .site-main,
  .archive .site-main {
    max-width: 1140px;
  }
}

.site-header {
  background-color: transparent;
  border-bottom: none;
  color: white;
  position: relative;
  padding-bottom: 2rem;
}

.site-header .site-branding a img {
  width: 10rem;
}

.site-header button.menu-toggle {
  background-color: transparent;
  border: none;
  margin-top: 1.6rem;
  font-size: 1.2rem;
  color: #FEFEFE;
}

.site-header button.menu-toggle:after,
.site-header button.menu-toggle:before,
.site-header button.menu-toggle span:before {
  width: 1.2rem;
  background-color: #FEFEFE;
}

.site-header .main-navigation .menu {
  text-align: center;
  font-weight: lighter;
}

.site-header .main-navigation ul li a {
  padding: 0.3rem 0;
  font-size: 1.3rem;
  color: #FEFEFE;
  font-weight: bold;
  text-transform: uppercase;
  transition: all .2s ease;
}

.site-header .main-navigation ul li a:hover {
  text-shadow: 1px 1px 1px #0D0E05;
  text-decoration: none;
}

.home .site-header {
  margin-bottom: 30rem;
}

.home .hentry {
  display: none;
}

.product-template-default .site-header ul.menu li.current-menu-item > a {
  border-bottom: 1px solid #0D0E05;
}

.product-template-default .site-header .site-branding a img {
  filter: invert(1);
}

.product-template-default .site-header .main-navigation ul li a {
  color: #0D0E05;
}

.product-template-default .site-header .main-navigation ul li a:hover {
  border-bottom: 1px solid #0D0E05;
  text-shadow: none;
}

@media screen and (min-width: 768px) {
  .site-header {
    padding-top: 2.7rem;
    padding-bottom: 4rem;
  }
  .site-header .main-navigation ul li a {
    font-size: .7rem;
  }
  .site-header .main-navigation ul li a:hover {
    border-bottom: 1px solid #FEFEFE;
  }
  .site-header .site-branding {
    position: absolute;
    width: 100% !important;
    top: 1rem;
    bottom: 0;
    right: 0;
    left: 10px;
  }
  .site-header .site-branding a img {
    margin: 0 auto;
  }
  .site-header .main-navigation {
    width: 100% !important;
  }
  .site-header .main-navigation .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .site-header .main-navigation .nav-menu li {
    padding: 0 .5rem;
  }
  .site-header .main-navigation .nav-menu li:nth-child(3) {
    padding-right: 12rem;
    flex-basis: 20%;
  }
  .home .site-header {
    padding-bottom: 0;
    margin-bottom: 28rem;
  }
}

@media screen and (min-width: 1100px) {
  .site-header {
    padding-top: 2.7rem;
    padding-bottom: 5rem;
  }
  .site-header .main-navigation ul li a {
    font-size: 1rem;
  }
  .site-header .main-navigation ul li a:nth-child(3) {
    width: 70% !important;
  }
  .site-header .main-navigation li {
    padding: 0 3rem;
  }
  .site-header .main-navigation .nav-menu li:nth-child(3) a {
    width: 70%;
  }
  .site-header .site-branding {
    top: 0rem;
    left: 13px;
  }
  .site-header .site-branding a img {
    width: 12rem;
  }
  .home .site-header {
    margin-bottom: 45rem !important;
  }
}

@media screen and (min-width: 1150px) {
  .site-header .main-navigation .nav-menu li:nth-child(3) {
    flex-basis: 30%;
    padding-right: 5rem;
  }
  .site-header .main-navigation .nav-menu li:nth-child(4) {
    padding-left: 6rem;
  }
  .site-header .main-navigation .nav-menu li:nth-child(4), .site-header .main-navigation .nav-menu li:nth-child(5), .site-header .main-navigation .nav-menu li:nth-child(6) {
    padding-right: 3rem;
  }
}

.main-banners-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 45rem;
}

.main-banners-container .item {
  background-image: url(../img/banner_home_rafa_lopez.jpg);
  background-color: #AF8664;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.main-banners-container .item .hr-fade {
  border-width: 0 0 2px;
  background-color: transparent !important;
  color: white;
  border-image: linear-gradient(90deg, rgba(255, 255, 255, 0), white 50%, rgba(255, 255, 255, 0) 100%) 0 0 100%;
  border-style: solid;
  box-shadow: 1px 1px rgba(13, 14, 5, 0.1);
  width: 90%;
}

.main-banners-container .item .top {
  position: absolute;
  top: 67%;
  bottom: 0;
  left: 5%;
  right: 0;
}

.main-banners-container .item .bottom {
  position: absolute;
  top: 88%;
  bottom: 0;
  left: 5%;
  right: 0;
}

.main-banners-container .item h1 {
  position: absolute;
  top: 70%;
  bottom: 0;
  right: 0;
  left: 0;
  width: 90%;
  text-shadow: 3px 3px rgba(13, 14, 5, 0.5);
  font-size: 2.8rem;
  margin: 0 auto;
  text-align: center;
  color: #FEFEFE;
}

.main-banners-container .item h1 span {
  position: relative;
  left: 4rem;
}

@media screen and (min-width: 768px) {
  .main-banners-container {
    height: 40rem;
  }
  .main-banners-container .item .hr-fade {
    width: 61%;
  }
  .main-banners-container .item .top {
    top: 72%;
    left: 21%;
  }
  .main-banners-container .item .bottom {
    top: 93%;
    left: 21%;
  }
  .main-banners-container .item h1 {
    top: 75%;
    left: 0;
    font-size: 3rem;
    line-height: 1;
  }
  .main-banners-container .item h1 span {
    left: 8rem;
  }
}

@media screen and (min-width: 1100px) {
  .main-banners-container {
    height: 60rem;
  }
  .main-banners-container .item .hr-fade {
    width: 45%;
  }
  .main-banners-container .item .top {
    top: 60%;
    left: 28%;
  }
  .main-banners-container .item .bottom {
    top: 90%;
    left: 28%;
  }
  .main-banners-container .item h1 {
    top: 63%;
    left: 0;
    font-size: 6rem;
  }
  .main-banners-container .item h1 span {
    left: 12rem;
  }
}

.text-container {
  background-color: #FEFEFE;
  padding: 2rem;
  text-align: center;
}

.text-container h2 {
  font-size: 1.9rem;
  color: #7D1401;
}

.text-container p {
  color: #0D0E05;
  font-size: 1.3rem;
  line-height: 1.2;
}

.text-container a {
  color: #7D1401;
  font-size: 1.2rem;
  text-decoration: underline;
  font-style: italic;
}

.text-container a i {
  text-decoration: none;
}

.rafa-lopez img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .rafa-lopez {
    margin-top: 5rem;
  }
  .rafa-lopez .container {
    position: relative;
  }
  .rafa-lopez img {
    position: absolute;
    width: 16rem;
    top: -1rem;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .rafa-lopez .text-container {
    text-align: left;
    padding-left: 18rem;
  }
  .rafa-lopez .text-container h2 {
    font-size: 2.2rem;
  }
  .rafa-lopez .text-container p {
    font-size: 1.1rem;
    padding-left: 2rem;
  }
  .rafa-lopez .text-container a {
    font-size: 1rem;
    padding-left: 2rem;
    margin-right: 10px;
  }
  .rafa-lopez .text-container a i {
    margin-left: 10px;
  }
  .rafa-lopez .text-container a:hover {
    text-decoration: none;
  }
  .rafa-lopez .text-container a:hover i {
    animation: flecha .5s ease-in alternate infinite;
  }
  @keyframes flecha {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(15px);
    }
  }
}

@media screen and (min-width: 1100px) {
  .rafa-lopez {
    margin-top: 15rem;
  }
  .rafa-lopez img {
    width: 25rem;
    top: -3rem;
  }
  .rafa-lopez .text-container {
    padding-left: 25rem;
  }
  .rafa-lopez .text-container h2 {
    font-size: 4.2rem;
  }
  .rafa-lopez .text-container p {
    font-size: 1.4rem;
    padding-left: 4rem;
  }
  .rafa-lopez .text-container a {
    font-size: 1.4rem;
    padding-left: 4rem;
  }
}

@media screen and (min-width: 1200px) {
  .rafa-lopez img {
    top: -5rem;
    left: 1rem;
  }
  .rafa-lopez .text-container {
    padding-left: 30rem;
  }
}

.trayectoria img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .trayectoria {
    margin-top: 5rem;
  }
  .trayectoria .container {
    position: relative;
  }
  .trayectoria img {
    position: absolute;
    width: 20rem;
    top: 3rem;
    bottom: 0;
    left: 56%;
    right: 0;
  }
  .trayectoria .text-container {
    text-align: left;
    padding-right: 10rem;
    width: 80%;
  }
  .trayectoria .text-container h2 {
    font-size: 2.2rem;
  }
  .trayectoria .text-container p {
    font-size: 1.1rem;
    padding-right: 2rem;
  }
  .trayectoria .text-container a {
    font-size: 1rem;
    padding-right: 2rem;
  }
  .trayectoria .text-container a i {
    margin-left: 10px;
  }
  .trayectoria .text-container a:hover {
    text-decoration: none;
  }
  .trayectoria .text-container a:hover i {
    animation: flecha .5s ease-in alternate infinite;
  }
  @keyframes flecha {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(15px);
    }
  }
}

@media screen and (min-width: 992px) {
  .trayectoria img {
    width: 22rem;
    top: 1.4em;
  }
  .trayectoria .text-container {
    padding-right: 16rem;
  }
}

@media screen and (min-width: 1100px) {
  .trayectoria {
    margin-top: 10rem;
  }
  .trayectoria img {
    width: 30rem;
    top: 2rem;
    left: 57%;
  }
  .trayectoria .text-container {
    padding-right: 16rem;
  }
  .trayectoria .text-container h2 {
    font-size: 4.2rem;
  }
  .trayectoria .text-container p {
    font-size: 1.4rem;
    padding-right: 4rem;
  }
  .trayectoria .text-container a {
    font-size: 1.4rem;
    padding-right: 4rem;
  }
}

.procesos .galeria-procesos {
  position: relative;
  margin-bottom: 10rem;
}

.procesos .galeria-procesos .proceso {
  position: relative;
  height: 20rem;
}

.procesos .galeria-procesos .proceso .text-container {
  position: relative;
  width: 90%;
  margin: 0 auto;
  top: 10rem;
  bottom: 0;
  right: 0;
  left: 0;
}

.procesos .galeria-procesos #proceso1 {
  background: transparent url(../img/proceso_01.jpg) no-repeat center center;
  background-size: cover;
}

.procesos .galeria-procesos #proceso2 {
  background: transparent url(../img/proceso_02.jpg) no-repeat center center;
  background-size: cover;
}

.procesos .galeria-procesos #proceso3 {
  background: transparent url(../img/proceso_03.jpg) no-repeat center center;
  background-size: cover;
}

.procesos .galeria-procesos .slick-track {
  display: flex;
}

.procesos .galeria-procesos .slick-track img {
  width: 100% !important;
  margin: 0 auto;
}

.procesos .galeria-procesos span.priv_arrow.slick-arrow {
  position: absolute !important;
  top: 59%;
  font-size: 25px;
  left: 12%;
  color: #7D1401;
  background-color: rgba(125, 20, 1, 0.2);
  border-radius: 50%;
  height: 39px;
  width: 39px;
  text-align: center;
  transition: color .2s ease;
  z-index: 1000;
}

.procesos .galeria-procesos span.priv_arrow.slick-arrow:hover {
  color: #0D0E05;
  cursor: pointer;
}

.procesos .galeria-procesos span.next_arrow.slick-arrow {
  position: absolute !important;
  top: 59%;
  font-size: 25px;
  font-weight: 300;
  left: 78%;
  color: #7D1401;
  background-color: rgba(125, 20, 1, 0.2);
  border-radius: 50%;
  height: 39px;
  width: 39px;
  text-align: center;
  transition: color .2s ease;
  z-index: 1000;
}

.procesos .galeria-procesos span.next_arrow.slick-arrow:hover {
  color: #0D0E05;
  cursor: pointer;
}

@media screen and (min-width: 575px) {
  .procesos .galeria-procesos span.next_arrow.slick-arrow {
    left: 75%;
  }
  .procesos .galeria-procesos span.priv_arrow.slick-arrow {
    left: 18%;
  }
}

@media screen and (min-width: 690px) {
  .procesos .galeria-procesos span.next_arrow.slick-arrow {
    left: 69%;
  }
  .procesos .galeria-procesos span.priv_arrow.slick-arrow {
    left: 25%;
  }
}

@media screen and (min-width: 768px) {
  .procesos .galeria-procesos .proceso {
    height: 25rem;
  }
  .procesos .galeria-procesos .proceso .text-container {
    padding: 2rem 4rem;
    top: 19rem;
  }
  .procesos .galeria-procesos .proceso .text-container h2 {
    font-size: 2rem;
    margin-bottom: 3rem;
  }
  .procesos .galeria-procesos .proceso .text-container p {
    font-size: 1rem;
  }
  .procesos .galeria-procesos span.next_arrow.slick-arrow {
    top: 21rem;
    left: 74%;
  }
  .procesos .galeria-procesos span.priv_arrow.slick-arrow {
    top: 21rem;
    left: 22%;
  }
}

@media screen and (min-width: 1100px) {
  .procesos .galeria-procesos .proceso {
    height: 45rem;
  }
  .procesos .galeria-procesos .proceso .text-container {
    top: 35rem;
    padding: 2rem 8rem;
  }
  .procesos .galeria-procesos .proceso .text-container h2 {
    font-size: 4rem;
    margin-bottom: 4rem;
  }
  .procesos .galeria-procesos .proceso .text-container p {
    font-size: 1.4rem;
  }
  .procesos .galeria-procesos span.next_arrow.slick-arrow {
    font-size: 35px;
    height: 53px;
    width: 53px;
    top: 38rem;
    left: 71.2%;
  }
  .procesos .galeria-procesos span.priv_arrow.slick-arrow {
    font-size: 35px;
    height: 53px;
    width: 53px;
    top: 38rem;
    left: 26%;
  }
}

.productos-destacados h1 {
  color: #7D1401;
  text-align: center;
  font-size: 3.5rem;
}

.productos-destacados .storefront-product-section .section-title {
  display: none;
}

.productos-destacados ul.products li.product .woocommerce-loop-product__title {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .productos-destacados ul.products li.product .woocommerce-loop-product__title {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1100px) {
  .productos-destacados {
    margin-top: 5rem;
  }
  .productos-destacados h1 {
    font-size: 5rem;
  }
  .productos-destacados ul.products li.product .woocommerce-loop-product__title {
    font-size: 1.3rem;
  }
}

.hero {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 40rem;
}

.hero .texto-hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.hero .texto-hero.rafa-lopez {
  background-image: url(../img/banner_rafa_lopez.jpg);
  margin-top: 0;
}

.hero .texto-hero.obra {
  background-image: url(../img/banner_obra.jpg);
  margin-top: 0;
}

.hero .texto-hero .hr-fade {
  border-width: 0 0 2px;
  background-color: transparent !important;
  color: white;
  border-image: linear-gradient(90deg, rgba(255, 255, 255, 0), white 50%, rgba(255, 255, 255, 0) 100%) 0 0 100%;
  border-style: solid;
  box-shadow: 1px 1px rgba(13, 14, 5, 0.1);
  width: 90%;
}

.hero .texto-hero .top {
  position: absolute;
  top: 75%;
  bottom: 0;
  left: 5%;
  right: 0;
}

.hero .texto-hero .bottom {
  position: absolute;
  top: 88%;
  bottom: 0;
  left: 5%;
  right: 0;
}

.hero .texto-hero h1 {
  position: absolute;
  top: 78%;
  bottom: 0;
  right: 0;
  left: 0;
  width: 90%;
  text-shadow: 3px 3px rgba(13, 14, 5, 0.5);
  font-size: 2.8rem;
  margin: 0 auto;
  text-align: center;
  color: #FEFEFE;
}

@media screen and (min-width: 768px) {
  .hero {
    height: 25rem;
  }
  .hero .texto-hero .hr-fade {
    width: 61%;
  }
  .hero .texto-hero .top {
    top: 72%;
    left: 21%;
  }
  .hero .texto-hero .bottom {
    top: 90%;
    left: 21%;
  }
  .hero .texto-hero h1 {
    top: 74%;
    left: 0;
    font-size: 3rem;
  }
}

@media screen and (min-width: 1100px) {
  .hero {
    height: 35rem;
  }
  .hero .texto-hero .hr-fade {
    width: 45%;
  }
  .hero .texto-hero .top {
    top: 63%;
    left: 28%;
  }
  .hero .texto-hero .bottom {
    top: 90%;
    left: 28%;
  }
  .hero .texto-hero h1 {
    top: 66%;
    left: 0;
    font-size: 6rem;
  }
}

.margintop {
  margin-top: 30rem;
}

.dos-columnas {
  display: flex;
  flex-direction: column;
}

.dos-columnas .columna-1 {
  position: relative;
}

.dos-columnas .columna-1 img {
  width: 100%;
}

.dos-columnas .columna-1 .slick-track {
  width: 100% !important;
  display: flex;
  align-items: center;
}

.dos-columnas .columna-1 .slick-track img {
  width: 100% !important;
  margin: 0 auto;
}

.dos-columnas .columna-1 .dot-custom {
  border: 2px solid #0D0E05;
  opacity: .5;
  height: 14px;
  width: 14px;
  margin-left: 20px;
  border-radius: 75px;
}

.dos-columnas .columna-1 .dot-custom:first-child {
  margin-left: 0px;
}

.dos-columnas .columna-1 .slick-active {
  background-color: #0D0E05;
  opacity: .9;
}

.dos-columnas .columna-1 .slick-dots {
  display: flex;
  position: absolute;
  top: 91%;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  list-style: none;
  margin: 1rem 0 0 0 !important;
  z-index: 1000;
}

.dos-columnas .columna-2 {
  background-color: #FEFEFE;
  color: #0D0E05;
  padding: 2rem;
  text-align: center;
  border-radius: 0 10px 10px 0;
}

.dos-columnas .columna-2 h2 {
  font-size: 3rem;
  color: #7D1401;
}

.dos-columnas .columna-2 p {
  font-size: 1.2rem;
  line-height: 1.3;
  margin: 0;
}

.marginbt {
  margin: 7rem 0;
}

@media screen and (min-width: 768px) {
  .margintop {
    margin-top: 15rem;
  }
  .dos-columnas {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .dos-columnas .columna-1 {
    flex-basis: 28%;
  }
  .dos-columnas .columna-1 .slick-dots {
    top: 100%;
  }
  .dos-columnas .columna-2 {
    flex-basis: 70%;
  }
  .dos-columnas .columna-2 h2 {
    font-size: 2.5rem;
    text-align: left;
  }
  .dos-columnas .columna-2 p {
    font-size: .9rem;
    padding-left: 1rem;
    text-align: left;
  }
  .orden {
    order: -1;
    border-radius: 10px 0 0 10px !important;
  }
  .marginbt {
    margin: 7rem 0;
  }
}

@media screen and (min-width: 992px) {
  .dos-columnas .columna-2 h2 {
    font-size: 3.5rem;
    margin: 0;
  }
  .dos-columnas .columna-2 p {
    font-size: 1.1rem;
    padding: 2rem 2rem 2rem 3rem;
  }
}

@media screen and (min-width: 1100px) {
  .margintop {
    margin-top: 26rem;
  }
  .marginbt {
    margin: 8rem 0;
  }
  .dos-columnas .columna-1 {
    flex-basis: 35%;
  }
  .dos-columnas .columna-2 {
    flex-basis: 63%;
  }
  .dos-columnas .columna-2 h2 {
    font-size: 5rem;
  }
  .dos-columnas .columna-2 p {
    font-size: 1.1rem;
    padding: 4rem 2rem 4rem 4rem;
  }
  .orden p {
    padding: 4rem 5rem 4rem 2rem;
  }
  .paddingtop {
    padding-top: 2rem !important;
  }
}

@media screen and (min-width: 1200px) {
  .dos-columnas .columna-2 p {
    font-size: 1.3rem;
  }
}

.banner {
  margin: 5rem 0;
  height: 30rem;
  background-image: url(../img/banner_rafa_lopez_02.jpg);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner h2 {
  color: #FEFEFE;
  font-style: italic;
  text-shadow: 3px 3px rgba(13, 14, 5, 0.5);
  font-size: 2.7rem;
}

@media screen and (min-width: 768px) {
  .banner {
    height: 20rem;
  }
}

@media screen and (min-width: 1100px) {
  .banner {
    height: 25rem;
  }
  .banner h2 {
    font-size: 4rem;
  }
}

.storefront-sorting:nth-child(3) .woocommerce-pagination,
.storefront-sorting:last-child .woocommerce-ordering,
.storefront-sorting:last-child .woocommerce-result-count {
  display: none;
}

ul.products li.product .woocommerce-loop-product__title {
  font-size: 1.7rem !important;
  color: #0D0E05;
}

span.woocommerce-Price-amount.amount {
  font-size: 1.5rem !important;
  font-weight: bold;
  color: #0D0E05 !important;
}

span.woocommerce-Price-amount.amount::after {
  content: ' MXN';
}

ul.products li.product .button {
  background-color: transparent;
  font-weight: 300;
  font-style: italic;
  color: #0D0E05;
  padding: 0;
  font-size: 1.4rem;
}

@media screen and (min-width: 768px) {
  ul.products li.product .woocommerce-loop-product__title {
    font-size: 1.5rem !important;
  }
  span.woocommerce-Price-amount.amount {
    font-size: 1.3rem !important;
  }
  ul.products li.product .button {
    font-size: 1.2rem;
  }
  a.woocommerce-LoopProduct-link.woocommerce-loop-product__link:hover {
    color: #0D0E05 !important;
  }
}

.single-product div.product .woocommerce-product-gallery {
  margin-top: 3rem !important;
}

.single-product div.product .woocommerce-product-gallery {
  float: right !important;
}

.product_title {
  font-size: 4rem;
  color: #7D1401 !important;
  text-align: center;
}

.woocommerce-product-details__short-description p {
  color: #0D0E05 !important;
  font-weight: 400;
  text-align: center;
}

.single-product div.product p.price {
  text-align: center !important;
}

.single-product div.product p.price span.woocommerce-Price-amount.amount {
  font-size: 2.2rem !important;
}

.quantity .qty {
  display: none;
}

button.alt {
  color: #7D1401 !important;
  font-style: italic;
  font-size: 1.2rem;
  font-family: "EB Garamond", serif !important;
  background-color: transparent !important;
  width: 100%;
  font-weight: 400;
  transition: all .2s ease-in-out;
}

button.alt:hover {
  text-decoration: underline;
}

.related > h2:first-child {
  font-size: 2.3rem !important;
  padding-top: 0;
  text-align: center;
}

.single-product div.product .woocommerce-tabs,
.storefront-sticky-add-to-cart {
  display: none !important;
}

@media screen and (min-width: 768px) {
  .product_title {
    font-size: 3rem;
    text-align: left;
  }
  .single-product div.product {
    margin-top: 3rem;
  }
  .woocommerce-product-details__short-description p,
  .single-product div.product p.price {
    text-align: left !important;
  }
  button.alt {
    padding: .4rem 0;
    width: 45%;
  }
  .single-product div.product .summary {
    width: 44% !important;
  }
  .single-product div.product .woocommerce-product-gallery {
    width: 50% !important;
  }
  .single-product div.product .summary {
    display: flex;
    flex-flow: column;
  }
  .single-product div.product p.price {
    margin: 0 !important;
    order: 1;
  }
  .single-product div.product form.cart {
    order: 1;
  }
  .single-product div.product .product_meta {
    order: 1;
  }
}

@media screen and (min-width: 1100px) {
  .product_title {
    font-size: 4rem;
  }
  .woocommerce-product-details__short-description p {
    font-size: 1.2rem;
    width: 80%;
  }
  .single-product div.product p.price span.woocommerce-Price-amount.amount {
    font-size: 2.3rem !important;
  }
  button.alt {
    width: 40%;
    font-size: 1.7rem;
  }
  .related > h2:first-child {
    font-size: 3.3rem !important;
    padding-top: 5rem;
    margin-bottom: 0.7rem !important;
  }
  figure.woocommerce-product-gallery__wrapper {
    margin-left: 4rem;
  }
}

.contacto h1 {
  color: #7D1401;
  font-size: 3rem;
  text-align: center;
  margin-bottom: .7rem;
}

.contacto h1 span {
  display: none;
}

.contacto h2 {
  text-align: center;
}

.contacto .contenedor-contacto {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  background-color: #FEFEFE;
  border-radius: 6px;
  -webkit-box-shadow: 0px 7px 18px 0px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 0px 7px 18px 0px rgba(0, 0, 0, 0.31);
  box-shadow: 0px 7px 18px 0px rgba(0, 0, 0, 0.31);
}

.contacto .contenedor-contacto .formulario-contacto {
  position: relative;
  padding: 1rem;
}

.contacto .contenedor-contacto .formulario-contacto form {
  margin: 0;
}

.contacto .contenedor-contacto .formulario-contacto form input[type="text"],
.contacto .contenedor-contacto .formulario-contacto form input[type="email"],
.contacto .contenedor-contacto .formulario-contacto form textarea {
  box-sizing: border-box;
  width: 100%;
  margin: 0 0 1rem;
  padding: 6px 0;
  background: #FEFEFE;
  font-size: 1.2rem;
  outline: none;
  box-shadow: none;
  border-bottom: 1px solid #0D0E05;
}

.contacto .contenedor-contacto .formulario-contacto form textarea {
  height: 120px;
  resize: none;
}

.contacto .contenedor-contacto .formulario-contacto form .btn-contact {
  display: block;
  margin: 2rem auto;
  background-color: transparent;
  color: #7D1401;
  font-size: 1.2rem;
  border: 1px solid #0D0E05;
  width: 100%;
  padding: 5px 30px;
  outline: none;
  transition: opacity .3s ease;
}

.contacto .contenedor-contacto .formulario-contacto form .btn-contact:hover {
  opacity: .7;
}

.contacto .contenedor-contacto .formulario-contacto .notificacion {
  position: absolute;
  top: 6rem;
  right: -10px;
  left: -10px;
  padding: 1.5rem 3rem;
  text-align: center;
  opacity: 0;
  font-size: 1.8rem;
  transition: opacity .3s ease;
  z-index: 99999;
}

.contacto .contenedor-contacto .formulario-contacto .aparece {
  opacity: .8;
}

.contacto .contenedor-contacto .formulario-contacto .correcto {
  position: absolute;
  background-color: #7D1401;
  color: white;
}

.contacto .contenedor-contacto .formulario-contacto .error {
  position: absolute;
  background-color: #ee94a6;
  color: white;
}

.contacto .contenedor-contacto .formulario-contacto .sombra {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.contacto .contenedor-contacto .imagen-contacto img {
  border-radius: 0 !important;
}

@media screen and (min-width: 768px) {
  .contacto h1 {
    text-align: left;
    font-size: 2rem;
  }
  .contacto h1 span {
    display: inline;
    color: #0D0E05;
  }
  .contacto h2 {
    text-align: left;
    font-size: 2.5rem;
  }
  .contacto .contenedor-contacto {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
  }
  .contacto .contenedor-contacto .formulario-contacto {
    flex-basis: 60%;
  }
  .contacto .contenedor-contacto .formulario-contacto form .btn-contact {
    width: 50%;
    margin: 2rem auto;
    padding: 2px 30px;
  }
  .contacto .contenedor-contacto .imagen-contacto {
    flex-basis: 54%;
  }
}

@media screen and (min-width: 1100px) {
  .contacto h1 {
    font-size: 3.5rem;
  }
  .contacto h2 {
    font-size: 4rem;
  }
  .contacto .contenedor-contacto {
    margin-top: 7rem;
  }
  .contacto .contenedor-contacto .formulario-contacto form input[type="text"],
  .contacto .contenedor-contacto .formulario-contacto form input[type="email"],
  .contacto .contenedor-contacto .formulario-contacto form textarea {
    font-size: 1.5rem;
  }
  .contacto .contenedor-contacto .formulario-contacto form .btn-contact {
    font-size: 1.4rem;
  }
  .contacto .contenedor-contacto .imagen-contacto {
    flex-basis: 40%;
  }
}

.site-footer {
  background-color: transparent;
  padding-bottom: 1rem;
}

.site-footer a:not(.button):not(.components-button) {
  text-decoration: none;
}

.site-footer h2.copyright {
  font-size: 1.2rem !important;
  text-align: center;
  padding: 1rem 0;
  letter-spacing: 4px;
}

.site-footer h2.copyright a:hover {
  text-decoration: underline;
}

.site-footer .contenedor-flex {
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgba(13, 14, 5, 0.5);
  padding-top: 3rem;
  padding-bottom: 1.5rem;
  text-align: center;
}

.site-footer .contenedor-flex .menu-footer h3 {
  color: #7D1401;
  font-size: 1.5rem;
  font-weight: bold;
}

.site-footer .contenedor-flex .menu-footer ul {
  list-style: none;
  margin: 0;
}

.site-footer .contenedor-flex .menu-footer ul li {
  text-decoration: none;
  font-size: 1.2rem;
}

.site-footer .contenedor-flex .menu-footer ul li:hover {
  text-decoration: underline;
}

.site-footer .contenedor-flex .logo-footer {
  padding: 1.5rem 0;
}

.site-footer .contenedor-flex .logo-footer img {
  filter: invert(1);
  width: 13rem;
  margin: 0 auto;
}

.site-footer .contenedor-flex .contacto-footer {
  padding: 1.5rem 0;
}

.site-footer .contenedor-flex .contacto-footer .telefono a,
.site-footer .contenedor-flex .contacto-footer .whatsapp a,
.site-footer .contenedor-flex .contacto-footer .email a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  font-weight: bold;
}

.site-footer .contenedor-flex .contacto-footer .telefono a:hover,
.site-footer .contenedor-flex .contacto-footer .whatsapp a:hover,
.site-footer .contenedor-flex .contacto-footer .email a:hover {
  text-decoration: underline;
}

.site-footer .contenedor-flex .contacto-footer .telefono a p,
.site-footer .contenedor-flex .contacto-footer .whatsapp a p,
.site-footer .contenedor-flex .contacto-footer .email a p {
  margin: .5rem 0;
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .site-footer .contenedor-flex {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .site-footer .contenedor-flex .menu-footer {
    text-align: left;
  }
  .site-footer .contenedor-flex .menu-footer ul li {
    text-transform: uppercase;
    font-size: 1.1rem;
  }
  .site-footer .contenedor-flex .contacto-footer .telefono a,
  .site-footer .contenedor-flex .contacto-footer .whatsapp a,
  .site-footer .contenedor-flex .contacto-footer .email a {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1100px) {
  .site-footer .contenedor-flex {
    padding: 2rem 1rem 0 1rem;
  }
  .site-footer .contenedor-flex .contacto-footer .telefono a,
  .site-footer .contenedor-flex .contacto-footer .whatsapp a,
  .site-footer .contenedor-flex .contacto-footer .email a {
    font-size: 1.2rem;
  }
}
